*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

section div{
    position: relative;
    width: 50%;
    background-color: rgb(240, 140, 82);
    overflow: hidden;
}

section div:nth-child(1){
    background-image: url(./image.jpg);
    background-size: cover;
}

section div h2{
    position: absolute;
    /*para que el texto se quede en una linea*/
    white-space: nowrap;
    font-size: 12em;
    line-height: 100vh;
}

section div:nth-child(1) h2{
    /*Esta propiedad es para poner contorno*/
    -webkit-text-stroke: 2px;
    /*para cambiarle el color al borde*/
    -webkit-text-stroke-color: white;
    /*para cambiarle el color del relleno*/
    -webkit-text-fill-color: transparent;
    /*Para que se salga del contenedor DE DONDE PARTE*/
    left: 100%;
    /*Para poner la animacion*/
    animation: animate 60s linear infinite;
}

@keyframes animate {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

section div:nth-child(2) h2{
    /*de donde parte*/
    left: 0;
    color: white;
    animation: animate 60s linear infinite;
}